## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.DotSettings.user

# Build outputs
bin/
obj/

# NuGet
packages/
*.nupkg

# Visual Studio cache/options
.vscode/
